.WhatRecycleSplash {
    font-size: xx-large;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 10.9%;
    border-style: solid;
    border-width: 5px;
    height: 1200px;
    width: 89.1%;
    background: rgb(69, 113, 0);
    background: linear-gradient(
      0deg,
      rgba(69, 113, 0, 1) 0%,
      rgba(193, 223, 156, 1) 100%
    );

    
  }
  
  .Heading1 {
    font-size: medium;
    border-style: dashed;
    position: relative;
    top: 20%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Heading2 {
    font-size: medium;
    position: relative;
    top: 40%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
  }
  

  
  
  
  
  
  
  