body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 15%;
  padding: 30px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #134b36;
  color: white;
  padding: 14px 14px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.register {
  font-size: xx-large;
  position: absolute;
  text-align: center;
  top:30%;
  left: 0%;
  border-style: solid;
  border-width: 2px;
  height: 1200px;
  width: 100%;
  background: rgb(69, 113, 0);
  background: linear-gradient(
    0deg,
    rgb(12, 27, 10) 0%,
    rgb(18, 136, 69) 100%
  );
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.Googlebutton {
  background-color: transparent;
  align-self: center;
}

.GoogleImage {
  border-radius: 26px;
  width: 500px;
}

.refreshbutton {
  width: 250px;
  border-radius: 16px;
}
